body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(135, 206, 235, .075);
    text-align: center;
    font-family: font-family: 'Balsamiq Sans', cursive;;
}

header {
    margin-top: 8%;
}

main {
    flex: 1;
}

#weather-today {
    font-weight: bold;
}

footer {
    background-image: url("images/skyline.png");
    background-repeat: norepeat;
    background-position: cover;
    /*width: 100%;*/
    /*min-height: 350px;*/
    position: relative;
    background-size: cover;
    min-height: 300px;
    background-position: center;
}

footer p {
    color: #f8f8f8;
    font-weight: bold;
}

/****** MEDIA QUERIES ******/

@media (min-width: 320px) {
    header {
        font-size: 1rem;
    }

    main p {
        font-size: .75rem;
    }

    footer p {
        padding-top: 70%;
    }
}

@media (min-width: 768px) {
    header {
        font-size: 2rem;
    }
    
    main p {
        font-size: 1rem;
    }

    footer p {
        padding-top: 30%;
    }
}

@media (min-width: 769px) {
    header {
        font-size: 2.5rem;
    }
    
    main p {
        font-size: 2rem;
    }

    footer p {
        padding-top: 25%;
    }
}